// @import bootstrap/variables

$light-blue: #AAAAB0
$light-orange: #FFC273
$dark-blue: #01053B
$light-red: #FFC6CE

// SASS style sheet */
// Palette color codes */
// Palette URL: http://paletton.com/#uid=51q1q0kllllkuQPkTujlNcnmd3p */

// Feel free to copy&paste color codes to your application */

// As hex codes */

$color-primary-0: #AA9739  // Main Primary color */
$color-primary-1: #FFE35C
$color-primary-2: #F1D654
$color-primary-3: #63571F
$color-primary-4: #1B1808

$color-secondary-1-0: #2D882D  // Main Secondary color (1) */
$color-secondary-1-1: #56EF56
$color-secondary-1-2: #43C143
$color-secondary-1-3: #194F19
$color-secondary-1-4: #071607

$color-secondary-2-0: #AA3939  // Main Secondary color (2) */
$color-secondary-2-1: #FF5C5C
$color-secondary-2-2: #F15454
$color-secondary-2-3: #631F1F
$color-secondary-2-4: #1B0808



// As RGBa codes */

$rgba-primary-0: rgba(170,151, 57,1) // Main Primary color */
$rgba-primary-1: rgba(255,227, 92,1)
$rgba-primary-2: rgba(241,214, 84,1)
$rgba-primary-3: rgba( 99, 87, 31,1)
$rgba-primary-4: rgba( 27, 24,  8,1)

$rgba-secondary-1-0: rgba( 45,136, 45,1) // Main Secondary color (1) */
$rgba-secondary-1-1: rgba( 86,239, 86,1)
$rgba-secondary-1-2: rgba( 67,193, 67,1)
$rgba-secondary-1-3: rgba( 25, 79, 25,1)
$rgba-secondary-1-4: rgba(  7, 22,  7,1)

$rgba-secondary-2-0: rgba(170, 57, 57,1) // Main Secondary color (2) */
$rgba-secondary-2-1: rgba(255, 92, 92,1)
$rgba-secondary-2-2: rgba(241, 84, 84,1)
$rgba-secondary-2-3: rgba( 99, 31, 31,1)
$rgba-secondary-2-4: rgba( 27,  8,  8,1)

$btn-primary-bg: $color-primary-3
$btn-primary-border: $color-primary-4

$table-bg-hover: lighten($color-primary-1,20%)

// Generated by Paletton.com Â© 2002-2014 */
// http://paletton.com */

$navbar-default-color: $color-primary-2
$navbar-default-bg: $color-primary-4
$navbar-default-border: $color-primary-1
$navbar-default-link-color: $color-primary-2

$navbar-default-link-active-bg: $color-primary-2
$navbar-default-link-active-color: $color-primary-3
$navbar-default-link-hover-color: $color-primary-3

$navbar-default-brand-color: $color-primary-2
$navbar-default-brand-hover-color: #E50020

$font-size-base: 0.95rem

//== Navbar
//
//##

// Basics of a navbar
// $navbar-height:                    50px !default
// $navbar-margin-bottom:             $line-height-computed !default
// $navbar-border-radius:             $border-radius-base !default
// $navbar-padding-horizontal:        floor(($grid-gutter-width / 2)) !default
// $navbar-padding-vertical:          (($navbar-height - $line-height-computed) / 2) !default
// $navbar-collapse-max-height:       340px !default

// Navbar

// $navbar-border-radius:              $border-radius;
// $navbar-padding-x:                  $spacer;
// $navbar-padding-y:                  ($spacer / 2);
// $navbar-brand-padding-y:            .25rem;

// $navbar-dark-color:                 rgba(0,255,255,.5)
// $navbar-dark-hover-color:           rgba(0,255,255,.75)
// $navbar-dark-active-color:          rgba(0,255,255,1)
// $navbar-dark-disabled-color:        rgba(0,255,255,.25)
// $navbar-color:                 rgba(0,255,255,.5)
// $navbar-hover-color:           rgba(0,255,255,.75)
// $navbar-active-color:          rgba(0,255,255,1)
// $navbar-disabled-color:        rgba(0,255,255,.25)
// $navbar-default-color:                 rgba(0,255,255,.5)
// $navbar-default-hover-color:           rgba(0,255,255,.75)
// $navbar-default-active-color:          rgba(0,255,255,1)
// $navbar-default-disabled-color:        rgba(0,255,255,.25)
// $navbar-light-color:                rgba(0,0,0,.3)
// $navbar-light-hover-color:          rgba(0,0,0,.6)
// $navbar-light-active-color:         rgba(0,0,0,.8)
// $navbar-light-disabled-color:       rgba(0,0,0,.15)