html
  position: relative
  min-height: 100%

body
  padding-top: 70px
  padding-bottom: 70px

nav.navbar
  background-color: $navbar-default-bg
a.navbar-brand
  color: $navbar-default-color

.navbar
  @include media-breakpoint-down(sm)
    .navbar-brand
      float: none
    .nav-item
      float: none
      margin-left: 0rem

.footer
  position: absolute
  bottom: 0
  width: 100%
  height: 60px
  line-height: 60px
  background-color: #f5f5f5

ul.nav.navbar-nav > li > a
  line-height: 40px
  text-decoration: none
  color: $navbar-default-color

.table td
  vertical-align: middle

th.hide, td.hide
  display: none

