%nav.navbar.inline.navbar-fixed-top
  %button.hidden-md-up.navbar-toggler{type: :button, data: {toggle: "collapse", target:"#exCollapsingNavbar"}, aria: {controls: "exCollapsingNavbar", expanded: "false", label: "Toggle navigation"}}
    &#9776
  #exCollapsingNavbar.collapse.navbar-toggleable-sm
    %a.navbar-brand{href: root_path}
      ARPM
    %ul.nav.navbar-nav.pull-md-left
      %li.nav-item
        %a{href: root_path}
          Dashboard
      %li.nav-item.active
        %a{href: root_path}
          Suppliers
      %li.nav-item
        %a{href: root_path}
          Wines
      %li.nav-item
        %a{href: root_path}
          Clients
      -# %li.nav-item.dropdown
      -#   %a.dropdown-toggle{data: {toggle: "dropdown", target: "#"}}
      -#     Manage
      -#     %b.caret
      -#   %ul.dropdown-menu
      -#     %li.dropdown-header
      -#       %a.dropdown-item{href: accommodations_path}
      -#         Accommodations
      -#     %li.dropdown-header
      -#       %a.dropdown-item{href: owners_path}
      -#         Owners
      -#     %li.dropdown-header
      -#       %a.dropdown-item{href: listings_path}
      -#         Listings
      -#     %li.dropdown-header
      -#       %a.dropdown-item{href: contacts_path}
      -#         Contacts
    -# %ul.nav.navbar-nav.pull-md-right
    -#   -if manager_signed_in?
    -#     %li.nav-item
    -#       %a{href: edit_manager_registration_path}
    -#         =t("profile").capitalize
    -#     %li.nav-item
    -#       %a{href: destroy_manager_session_path}
    -#         =t("sign.out").capitalize
    -#   -else
    -#     %li.nav-item
    -#       %a{href: new_manager_session_path}
    -#         =t("sign.in").capitalize